<div class="flex flex-row justify-between bg-black p-6 text-white">
    <div class="text-xl font-bold">
        <h1><a href="{{ '/' | url }}">CAMP RUSTLE</a></h1>
    </div>
    <div class="space-x-12">
        <a href="{{ '/' | url }}" class="text-sm">HOME</a>
        <a href="{{ navigation.about }}" class="text-sm">ABOUT</a>
        <a href="{{ navigation.menu }}" class="text-sm">MENUS</a>
        <a href="{{ navigation.specialevents }}" class="text-sm">SPECIAL EVENTS</a>
        <a href="" class="text-sm">GIFT CARDS</a>
        <a href="" class="border-2 rounded-none py-3 px-5">CONTACT</a>
    </div>
</div>