---
layout: default
---

{% include "_header.html" %}

<div class="text-center px-64 my-24">
    <h1 class="font-extrabold text-2xl">HISTORICAL ROOTS IN THE HEART OF TROY</h1>
    <p class="text-base text-gray-400 pt-11">Camp Ticonderoga has been serving up delicious food since 1996, but has a long history in the community. When the city of Troy was first established in the early 1820s, Henry Blount purchased the parcel of land that is now the Sylvan Glen Golf Course and built the sprawling two-story home.  He and his wife, Elizabeth, raised seven children in this home, and his grandsons, Harry and Frank, continued to farm the land after his death.</p>

    <p class="text-base text-gray-400 pt-11">In the early 1900s, the house was modified into separate living quarters for three maiden aunts of the Blount family.  Descendants of the Blount family continued to live in the home until May 13, 1924, when the home and land were sold to develop the golf course.  The home was then remodeled to house a restaurant.  Previous establishments include The Double Eagle, The Wooden Horse and Shark Creek Inn.</p>
</div>
<div class="grid grid-cols-2 pb-24">
    <img src="./static/about1.jpg" alt="">
    <img src="./about2.jpg" alt="">
</div>


{% include "_footer.html" %}