---
layout: default
---
{% include '_header.html' %}
<div>
    <img src="./CampTiconderoga_header.jpg" alt="" class="overflow-hidden">
</div>

<div class="text-center px-64 my-24">
    <h1 class="font-extrabold text-2xl">RUSTIC CHARM. QUALITY FOOD. EXCEPTIONAL SERVICE.</h1>
    
    <p class="text-base text-gray-400 pt-11">Ticonderoga is an Iroquois word meaning “land between two lakes,” which is exactly where Camp Ticonderoga is situated. Located between Square Lake and Long Lake Roads, Camp Ti has been serving up delicious staples like pulled pork sandwiches, Certified Black Angus steaks and warm chocolate chip cookies since 1996. </p>

    <p class="text-base text-gray-400 pt-11">Stop in to experience a warm, rustic atmosphere in our Adirondack-styled dining room, or dine al fresco overlooking the beautiful Sylvan Glen Golf Course from our outdoor terrace.</p>

</div>
<div class="grid grid-cols-2 px-64 space-x-20 pb-24">
    <div>
      <img src="./fooddrink.jpg" alt="">
    </div>
    <div class="text-center py-24">
      <h1 class="text-xl font-bold pb-10">FOOD + DRINK</h1>
      <p class="text-gray-500 pb-10">From scrumptious salads to comfort food classics, our diverse menu will have you coming back for more.</p>
      <a href="" class="border text-white px-5 py-3 bg-gray-500">VIEW MENUS</a>
    </div>
</div>
<div class="grid grid-cols-2 px-64 space-x-20 pb-24">
    <div class="text-center py-24">
        <h1 class="text-xl font-bold pb-10">EVENTS</h1>
        <p class="text-gray-500 pb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eligendi quidem neque optio consectetur aliquam necessitatibus doloremque. Odit cum aut aspernatur nam consequuntur earum ratione magni, harum, temporibus commodi et.</p>
        <a href="" class="border text-white px-5 py-3 bg-gray-500">MORE INFO</a>
    </div>
    <div>
        <img src="./events.jpg" alt="">
    </div>
</div>

{% include "_footer.html" %} 


