---
layout: default

---
{% include "_header.html" %}


<div class="bg-gray-600">
    <img src="{{ settings.siteRoot }}/se.jpg" alt="" class="resize-x object-fill mx-36">
</div>

<div class="text-center px-64 my-24">
    <h1 class="font-extrabold text-2xl">EVENTS AT CAMP RUSTLE.</h1>
    
    <p class="text-base text-gray-400 pt-11">Camp Ticonderoga is the perfect event space for celebrations of any size. We’ve hosted birthday parties, weddings and bridal showers, bar mitzvahs, business meetings, holiday parties and baby showers. Our staff will partner with you to create a memorable, customized event you and your guests will talk about for years to come!  </p>

    <p class="text-base text-gray-400 py-11 pb-28 ">We offer a variety of space and room options to fit your event style and guest count. Each space can be decorated and arranged for the optimal event experience. </p>

    <a href="" class="text-center border px-10 py-6 font-extrabold text-white bg-gray-800">DOWNLOAD OUR CATERING CONTRACT</a>


</div>


{% include "_footer.html" %}